body {
    overflow-x: hidden;
    margin: 0;
}

*, *::before, *::after {
    transition: color 600ms ease-in-out, background-color 600ms ease-in-out;
    box-sizing: border-box;
}

.grecaptcha-badge {
    position: absolute !important;
}